body {
    background-color: #121212;
    color: #f9f6f6;
}

.logo {
    width: 50px;
}

i,
ul li {
    cursor: pointer;
}

ul.links li {
    transition: 400ms;
}

ul.links li:hover {
    color: #FDD010;
}

nav {
    z-index: 1000;
}

.nav-content {
    background-color: #121212;
}

/* button animation*/

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

/* End button animation */
/* Loadig animation*/
.loading-screen {
    z-index: 999;
    display: flex;
    inset: 0;
}

/* End Loadig animation*/
/* main */
.container .content {
    margin-left: 60px;
}

.meal {
    overflow: hidden;
    cursor: pointer;
}

.meal .meal-layer {
    top: 100%;
    width: 100%;
    height: 100%;
    visibility: hidden;
    color: #0D0D0D;
    display: grid;
    place-items: center;
    background-color: #f9f6f685;
    transition: 500ms;
}

.meal:hover .meal-layer {
    top: 0;
    visibility: visible;
}

/* End main */